.additional-product {
  border-top: 1px solid var(--special-grey);

  &:last-child {
    border-bottom: 1px solid var(--special-grey);
    margin-bottom: 39px;

    @media (min-width: 768px) {
      margin-bottom: 70px;
    }
  }

  @media (min-width: 768px) {
    padding: 0 38px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1440px) {
    grid-template-columns: 1fr 1fr 244px;
    column-gap: 38px;
    padding: 0;
  }
}


.additional-product__name {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: normal;
  color: var(--super-dark-grey);
  margin-top: 13px;
  margin-bottom: 0;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 20px;
    margin-top: 26px;
  }

  @media (min-width: 1440px) {
    margin-top: 23px;
  }
}

.additional-product__description {
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
  margin-bottom: 0;

  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: var(--special-dark-grey);

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 20px;
    margin-top: 30px;
    justify-content: flex-end;
  }

  @media (min-width: 1440px) {
    justify-content: space-between;
  }
}

.additional-product__button {
  margin-top: 15px;
  margin-bottom: 16px;

  @media (min-width: 768px) {
    grid-column: 1 / -1;
    margin-top: 21px;
    margin-bottom: 26px;
  }

  @media (min-width: 1440px) {
    grid-column: auto;
    margin-bottom: 17px;
    margin-top: 15px;
  }
}

.additional-product__price {
  margin: 0;

  @media (min-width: 768px) {
    margin-left: 50px;
  }
}

.additional-product__size {
  margin: 0;
}
