.button {
  width: 100%;
  display: block;
  background-color: var(--basic-green);
  color: var(--basic-white);
  text-decoration: none;
  padding: 10px;
  box-sizing: border-box;
  font-weight: normal;
  border: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}
