.input[type="radio"] + .main-form__label,
.input[type="checkbox"] + .main-form__label {
  padding-left: 45px;
  position: relative;
}

.input[type="radio"] + .main-form__label::before,
.input[type="checkbox"] + .main-form__label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid var(--basic-dark-grey);
  width: 30px;
  height: 30px;
}

.input:checked + .main-form__label::after {
  content: "";
  position: absolute;
}

.input[type="radio"] + .main-form__label::before {
  border-radius: 50%;
}

.input[type="radio"]:checked + .main-form__label::after {
  width: 14px;
  height: 14px;
  top: 9px;
  left: 9px;
  background-color: var(--basic-green);
  border-radius: 50%;
}

.input[type="checkbox"]:checked + .main-form__label::after {
  width: 26px;
  height: 26px;
  top: 3px;
  left: 4px;
  background-image: url("../../img/icon-tick.svg");
}

.input {
  width: 100%;
  padding: 10px 19px 12px;
  margin-left: 10px;
  border: 1px solid var(--medium-grey);
  font-size: 16px;
  line-height: 18px;
  color: var(--special-dark-grey);
  text-transform: uppercase;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  box-sizing: border-box;

  &::placeholder {
    color: inherit;
    opacity: inherit;
  }

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
  }
}

.input--type_textarea {
  min-height: 150px;
  margin-left: 0;

  @media (min-width: 768px) {
    min-height: 174px;
  }
}
