.logo {
  text-decoration: none;
}

.logo--img {
  margin-left: 20px;

  @media (min-width: 768px) {
    margin-left: 0;
    margin-right: 13px;
  }

  @media (min-width: 1440px) {
    margin-left: 6px;
  }
}

.logo__img {
  @media (min-width: 768px) {
    height: 63px;
    width: 60px;
  }

  @media (min-width: 1440px) {
    height: 66px;
    width: 73px;
  }
}

.logo--text {
  width: fit-content;
  justify-self: center;

  @media (min-width: 768px) {
    margin-right: auto;
  }
}

.logo__text {
  object-fit: cover;
  height: 100%;

  @media (min-width: 768px) {
    width: 100px;
    object-fit: contain;
  }

  @media (min-width: 1440px) {
    width: 118px;
    margin-top: -4px;
  }
}
