.main-form {
  margin-top: 39px;

  @media (min-width: 768px) {
    margin-top: 66px;
  }
}

.main-form__area {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: 768px) {
    margin-bottom: 72px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.main-form__area-name {
  --page-indent: 20px;
  position: relative;
  font-size: 24px;
  line-height: 26px;
  max-width: 190px;
  margin-bottom: 35px;
  margin-left: var(--page-indent);

  &::after {
    --element-indent: 20px;
    content: "";
    position: absolute;
    top: 17px;
    left: calc(100% + var(--element-indent));
    width: calc(100vw - 100% - var(--page-indent) - var(--element-indent));
    height: 2px;
    background-color: var(--basic-green);
  }

  @media (min-width: 768px) {
    --page-indent: 70px;
    --element-indent: 38px;

    font-size: 36px;
    line-height: 36px;
    max-width: fit-content;
    margin-bottom: 76px;

    &::before {
      content: "";
      position: absolute;
      top: 17px;
      right: calc(100% + 40px);
      width: calc(100vw - 100% - 40px);
      height: 2px;
      background-color: var(--basic-green);
    }
  }

  @media (min-width: 1440px) {
    --page-indent: 110px;
  }
}

.main-form__line {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-bottom: 13px;

  @media (min-width: 768px) {
    margin-bottom: 20px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.main-form__label {
  color: var(--special-dark-grey);
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  min-width: fit-content;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-form__list-item {
  margin-bottom: 20px;

  @media (min-width: 1440px) {
    min-width: 221px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.main-form__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 41px;

  @media (min-width: 768px) {
    display: grid;
    min-width: 100%;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 54px;
  }

  @media (min-width: 1440px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.main-form__list--with-border {
  border-top: 1px solid var(--dark-grey);
  border-bottom: 1px solid var(--dark-grey);
  padding: 25px 0;
  margin-bottom: 0;
  box-sizing: border-box;

  @media (min-width: 768px) {
    margin-top: 72px;
    padding: 30px 0;
    border: 1px solid var(--dark-grey);
    padding-left: 28px;
    display: block;
  }

  @media (min-width: 1440px) {
    margin: 0;
    display: block;
  }
}

.main-form__button {
  font-size: 16px;
  line-height: 20px;

  @media (min-width: 768px) {
    max-width: 282px;
    box-sizing: border-box;
  }
}

.main-form__legend {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 21px;

  @media (min-width: 768px) {
    margin-left: 61px;
  }
}

.main-form__wrapper {
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.main-form__aria-wrapper {
  @media (min-width: 1440px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}
