.main-navigation {
  grid-column: 1 / -1;
  margin-top: 9px;

  @media (min-width: 768px) {
    margin: 0;
  }

  @media (min-width: 1440px) {
    margin-right: 80px;
    margin-top: -7px;
  }
}

.main-navigation__links {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: 768px) {
    display: flex;
  }
}

.main-navigation__links--closed {
  display: none;

  @media (min-width: 768px) {
    display: flex;
  }
}

.main-navigation__toggle {
  position: absolute;
  top: 23px;
  right: 19px;
  width: 24px;
  height: 18px;
  border: none;
  background-color: transparent;
  background-image: url("../../img/burger-button.svg");
  background-repeat: no-repeat;
}

.main-navigation__toggle--visible {
  display: block;

  @media (min-width: 768px) {
    display: none;
  }
}

.main-navigation__toggle--opened {
  background-image: url("../../img/button-close.svg");
  width: 18px;
  height: 18px;
  background-size: contain;
}

.main-navigation__item {
  --scrollbar-width: calc(100vw - 100%);
  --indent: 20px;
  margin-left: auto;
  margin-right: auto;

  padding-left: var(--indent);
  padding-right: calc(var(--indent) - var(--scrollbar-width));
  border-top: 1px solid hsl(0deg, 0%, 90%);

  @media (min-width: 768px) {
    margin-right: 35px;
    border-top: none;
    padding: 0;
  }

  &:last-child {
    border-bottom: 1px solid hsl(0deg, 0%, 90%);

    @media (min-width: 768px) {
      border-bottom: none;
      margin-right: 30px;
    }
  }
}

.main-navigation__link {
  display: block;
  color: hsl(0deg, 0%, 0%);
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-decoration: none;
  padding-top: 22px;
  padding-bottom: 24px;
  text-align: center;
  text-transform: uppercase;
  position: relative;

  @media (min-width: 768px) {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 10px;
  }

  @media (min-width: 1440px) {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-navigation__link[aria-current="page"] {
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;

    @media (min-width: 768px) {
      background-color: var(--basic-green);
    }

    @media (min-width: 1440px) {
      bottom: 2px;
    }
  }
}

.main-navigation--main-page .main-navigation__link {
  @media (min-width: 1440px) {
    color: var(--basic-white);
  }
}

.main-navigation--main-page .main-navigation__link[aria-current="page"] {
  &::after {
    @media (min-width: 1440px) {
      background-color: var(--basic-white);
    }
  }
}
