.main-catalog__list {
  list-style: none;
  margin-top: 37px;
  padding: 0;

  @media (min-width: 768px) {
    margin-top: 163px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 143px;
  }

  @media (min-width: 1440px) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 145px;
    margin-top: 164px;
    margin-bottom: 12px;
  }
}
