.map {
  border: 0;
  width: 100%;
  display: block;
  background-size: cover;
  background-image: url("../../img/map-mobile@1x.png");

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../../img/map-mobile@2x.png");
  }

  @media (min-width: 768px) {
    height: 400px;
    background-image: url("../../img/map-tablet@1x.png");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../../img/map-tablet@2x.png");
    }
  }

  @media (min-width: 1440px) {
    background-image: url("../../img/map-desktop@1x.png");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../../img/map-desktop@2x.png");
    }
  }
}
