.page-footer {
  position: relative;
}

.page-footer__social {
  background-color: var(--basic-grey);
  padding-top: 39px;
  padding-bottom: 22px;
}

.page-footer__wrapper {
  @media (min-width: 768px) {
    display: flex;
  }
}

.page-footer__logo {
  margin: 0 auto 32px;
  display: block;
  width: 128px;
  height: 24px;
}

.page-footer__social-links {
  list-style: none;
  display: flex;
  padding: 24px 0 23px;
  border-top: 1px solid var(--dark-grey);
  border-bottom: 1px solid var(--dark-grey);
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  color: var(--special-dark-grey);
  text-decoration: none;
  align-items: center;
  width: 100%;

  @media (min-width: 768px) {
    width: fit-content;
  }
}

.page-footer__copyright-logo {
  margin-left: 22px;
}
