.page-footer {
  position: relative;
}

.page-footer__contacts {
  padding-left: 20px;
  padding-right: calc(20px - calc(100vw - 100%));
}

.page-footer__logo {
  margin: 0 auto 32px;
  display: block;
  width: 128px;
  height: 24px;

  @media (min-width: 768px) {
    margin: 0;
  }
}

.page-footer__social-links {
  & :last-child .social__link {
    margin-right: 0;
  }

  @media (min-width: 768px) {
    margin: 0;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  color: var(--special-dark-grey);
  text-decoration: none;
  align-items: center;
  width: 100%;

  @media (min-width: 768px) {
    width: fit-content;
  }
}

.page-footer__copyright-logo {
  margin-left: 22px;
}
