.page-header {
  padding-top: 11px;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
  }

  @media (min-width: 1440px) {
    padding-top: 55px;
  }
}

.page-header__logo {
  & :first-child {
    margin-right: 55px;
  }
}
