.page-header {
  max-width: 1440px;
  padding-top: 11px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media (min-width: 768px) {
    --scrollbar-width: calc(100vw - 100%);
    --indent: 30px;

    width: 100%;
    box-sizing: border-box;
    padding-left: var(--indent);
    padding-right: calc(var(--indent) - var(--scrollbar-width));
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    display: flex;
    padding-top: 21px;
  }

  @media (min-width: 1440px) {
    padding-top: 54px;
    padding-left: 102px;
  }
}
