.product {
  box-sizing: border-box;
  border-top: 1px solid var(--special-grey);
  padding-top: 14px;

  &:last-child {
    border-bottom: 1px solid var(--special-grey);
  }

  &:last-child .product__name {
    width: 100%;
    max-width: 280px;
    margin: 23px auto 0;
    text-align: center;
    color: var(--extra-dark-grey);
  }

  &:last-child .product__description {
    text-align: center;
    width: 100%;
    max-width: 280px;
    margin: 8px auto 0;
    display: block;
  }

  &:last-child .product__button {
    background-color: var(--basic-grey);
    color: var(--special-dark-grey);
  }

  &:last-child .product__wrapper {
    display: block;
  }

  @media (min-width: 768px) {
    width: 100%;
    min-height: 511px;
    padding-left: 39px;
    padding-right: 37px;
    border: none;
    background-color: var(--basic-grey);
  }
}

.product__wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: 768px) {
    display: block;
  }
}

.product__link {
  color: var(--special-dark-grey);
  text-decoration: none;
  margin: 0 auto;
  justify-self: baseline;
}

.product__image {
  @media (min-width: 768px) {
    width: 168px;
    height: 200px;
  }
}

.product__name {
  max-width: 76px;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  text-transform: uppercase;

  @media (min-width: 768px) {
    max-width: 165px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 0 auto;
  }
}

.product__description {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: var(--special-dark-grey);

  margin: 18px 0 0;
  max-width: 140px;

  display: flex;
  flex-wrap: wrap;

  @media (min-width: 768px) {
    max-width: 250px;
    font-size: 16px;
  }
}

.product__button {
  grid-column: 1 / -1;
  margin: 22px 0 25px;
}

.product__description-line {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media (min-width: 768px) {
    border-bottom: 1px solid var(--basic-dark-grey);
    padding-bottom: 9px;
    margin-bottom: 5px;
  }
}
