.program-selection {
  padding-top: 27px;
  padding-bottom: 32px;
}

.program-selection__section-title {
  margin: 0;
  line-height: 36px;
}

.program-selection__description {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 37px;
  margin-bottom: 0;
}
