.promo {
  position: relative;
  color: var(--basic-white);
  text-align: center;
  padding-top: 27px;

  &::before {
    content: " ";
    display: block;
    background-image: linear-gradient(var(--basic-green-opacity), var(--basic-green-opacity)),
      url("../../img/promo-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 302px;
    position: absolute;
    top: 0;
    z-index: -3;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    &::before {
      background-image: linear-gradient(var(--basic-green-opacity), var(--basic-green-opacity)),
        url("../../img/promo-background@2x.jpg");
    }
  }

  @media (min-width: 768px) {
    color: var(--basic-black);
    padding-left: 87px;
    padding-top: 50px;
    min-height: 800px;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  @media (min-width: 1440px) {
    position: static;
    min-height: 553px;
    padding-top: 98px;
    padding-left: 80px;

    &::before {
      background-image: linear-gradient(var(--basic-green-opacity), var(--basic-green-opacity)),
        url("../../img/promo-background-desctop@1x.jpg");
      display: block;
      width: 50%;
      height: 694px;
      right: 0;
    }

    &::after {
      display: block;
      width: 50%;
      height: 694px;
      right: 0;
    }

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      &::before {
        background-image: linear-gradient(var(--basic-green-opacity), var(--basic-green-opacity)),
          url("../../img/promo-background-desctop@2x.jpg");
      }
    }
  }
}

.promo__heading {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  font-weight: normal;

  @media (min-width: 768px) {
    max-width: 414px;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
  }
}

.promo__slogan {
  font-size: 14px;
  line-height: 14px;
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin-top: 41px;
  }
}

.promo__image {
  margin-top: 29px;

  @media (min-width: 768px) {
    position: absolute;
    bottom: -11px;
    left: 50%;
    transform: translateX(-50%);
    height: 608px;
    width: 620px;
    z-index: -1;
    object-fit: cover;
  }

  @media (min-width: 1440px) {
    top: 112px;
    width: 503px;
    height: 498px;
    transform: translateX(-27%);
  }
}

.promo__link {
  padding: 11px;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 20px;
    padding: 17px;
    margin-left: -5px;
    max-width: 244px;
    margin-top: 49px;
  }

  @media (min-width: 1440px) {
    margin-left: 0;
  }
}
