.social-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0 23px;
  border-top: 1px solid var(--dark-grey);
  border-bottom: 1px solid var(--dark-grey);

  @media (min-width: 768px) {
    padding: 0;
    border: none;
  }
}
