.social-link {
  display: block;
  background-color: var(--special-grey-icons);
  height: 16px;
  mask-repeat: no-repeat;
  mask-size: cover;
  margin-right: 35px;
}

.social-link--name_vk {
  width: 21px;
  mask-image: url("../../img/stack.svg#icon-vkontakte");
}

.social-link--name_insta {
  width: 19px;
  mask-image: url("../../img/stack.svg#icon-instagram");
}

.social-link--name_facebook {
  width: 22px;
  height: 22px;
  mask-image: url("../../img/stack.svg#icon-facebook");
}
