.social {
  background-color: var(--basic-grey);
  padding-top: 40px;
  padding-bottom: 22px;

  @media (min-width: 768px) {
    padding-top: 61px;
    padding-bottom: 66px;
  }

  @media (min-width: 1440px) {
    padding-top: 55px;
  }
}

.social__wrapper {
  max-width: 1440px;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.social__list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 21px 0 19px;
  margin: 0 0 21px;
  border-top: 1px solid var(--dark-grey);
  border-bottom: 1px solid var(--dark-grey);

  & :last-child .social__link {
    margin-right: 0;
  }

  @media (min-width: 768px) {
    padding: 0;
    border: none;
    margin-left: 22px;
  }
}

.social__link {
  display: block;
  margin-right: 35px;
  position: relative;

  &::before {
    content: "";
    background-color: var(--special-grey-icons);
    height: 16px;
    mask-repeat: no-repeat;
    mask-size: cover;
    mask-position: center;
    display: block;
    transition: 0.5;
  }

  @media (min-width: 768px) {
    margin-right: 26px;

    &::before {
      height: 23px;
    }
  }

  &:hover {
    &::before {
      background-color: var(--basic-green);
    }
  }

  &:active {
    opacity: 0.3;

    &::before {
      background-color: var(--basic-green);
    }
  }
}

.social__link--name_vk {
  &::before {
    width: 23px;
    mask-image: url("../../img/stack.svg#icon-vkontakte");

    @media (min-width: 768px) {
      width: 31px;
    }
  }
}

.social__link--name_insta {
  margin-right: 31px;

  &::before {
    width: 16px;
    mask-image: url("../../img/stack.svg#icon-instagram");
  }

  @media (min-width: 768px) {
    margin-right: 16px;

    &::before {
      width: 23px;
    }
  }
}

.social__link--name_facebook {
  &::before {
    width: 22px;
    height: 22px;
    mask-image: url("../../img/stack.svg#icon-facebook");

    @media (min-width: 768px) {
      width: 32px;
      height: 33px;
    }
  }
}
