.toggle {
  display: flex;
  width: fit-content;
  align-items: center;
}

.toggle__button {
  position: relative;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  background-color: transparent;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
    padding: 0;

    &::after {
      content: " ";
      width: 45px;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      border-bottom: 1px dotted var(--basic-black);
      opacity: 0.24;
      transition: 0.5s;
    }

    &:hover {
      &::after {
        border-bottom: 1px solid var(--basic-black);
        opacity: 0.4;
      }
    }

    &:active {
      &::after {
        border-bottom: none;
        opacity: 0.4;
      }
    }
  }
}

.toggle__scale {
  margin: 0 12px;
  width: 84px;
  height: 12px;
  background-color: var(--basic-white);
  border-radius: 6px;
  border: 1px solid var(--basic-dark-grey);
  position: relative;

  @media (min-width: 768px) {
    height: 4px;
    width: 428px;
    background-color: var(--dark-grey);
    margin-right: 20px;
    margin-left: 23px;
  }
}

.toggle__scale-toggle {
  width: 35px;
  height: 5px;
  border-radius: 6px;
  background-color: var(--basic-green);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  @media (min-width: 768px) {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--basic-white);
    border: 1px solid var(--basic-dark-grey);
    filter: drop-shadow(0 1px 3px var(--basic-black-opacity));
    top: -14px;
    left: 50%;
    transform: translateX(-50%);

    &::before {
      content: " ";
      width: 8px;
      height: 8px;
      position: absolute;
      background-color: var(--basic-green);
      border-radius: 50%;
      top: 12px;
      left: 12px;
    }

    &:hover {
      filter: drop-shadow(0 2px 4px var(--basic-black-opacity));
    }

    &:active {
      border-color: var(--basic-green);
      filter: drop-shadow(0 3px 5px var(--basic-black-opacity));
    }
  }
}

.toggle__scale-toggle--left-position {
  @media (max-width: 767px) {
    left: 6px;
  }
}

.toggle__scale-toggle--right-position {
  @media (max-width: 767px) {
    right: 6px;
  }
}
