:root {
  --basic-black: hsl(0deg 0% 0%);
  --basic-white: hsl(0deg 0% 100%);
  --basic-green: hsl(97deg 53% 47%);
  --special-dark-grey: hsl(0deg 0% 27%);
  --basic-dark-grey: hsl(0deg 0% 80%);
  --dark-grey: hsl(0deg 0% 85%);
  --medium-grey: hsl(0deg 0% 91%);
  --special-grey: hsl(0deg 0% 92%);
  --basic-grey: hsl(0deg 0% 95%);
}
