:root {
  --basic-black: hsl(0deg 0% 0%);
  --basic-white: hsl(0deg 0% 100%);
  --basic-white-opacity-30: hsl(0deg 0% 0% / 0.3);
  --basic-green: hsl(97deg 53% 47%);
  --green-hover: hsl(97deg 57% 43%);
  --extra-dark-grey: hsl(0deg 0% 7%);
  --super-dark-grey: hsl(0deg 0% 13%);
  --special-dark-grey: hsl(0deg 0% 27%);
  --special-grey-icons: hsl(0deg 0% 40%);
  --basic-dark-grey: hsl(0deg 0% 80%);
  --dark-grey: hsl(0deg 0% 85%);
  --medium-grey: hsl(0deg 0% 91%);
  --special-grey: hsl(0deg 0% 92%);
  --basic-grey: hsl(0deg 0% 95%);
}
